*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.noseids
*.coverage*
.tox
nosetests.xml
.pytest-incremental

# Translations
*.mo

# Guard files
Gemfile
Gemfile.lock
Guardfile

# Cache
.scrapy

# Output
ghostdriver.log
img
out
